@font-face {
    font-family: 'number';
    src: url('./number.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*@font-face {*/
/*    font-family: 'SYHT';*/
/*    src: url('./SiYuanHeiTiJiuZiXing.ttf') format('truetype');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/
